[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
[submodule "external/maxflow"]
	path = external/maxflow
	url = https://github.com/gerddie/maxflow.git
